.boxRating {
  width: 100%;
  position: relative;
}
.imageList {
  width: 100%;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  padding: 10px 10px 10px 10px;
  justify-content: space-between;
  align-items: stretch;
  overflow-x: auto;
  background-color: #f5f4f3;
  background-image:

  /* Shadows */
  linear-gradient(to right, #f5f4f3, #f5f4f3),
  linear-gradient(to right, #f5f4f3, #f5f4f3),

  /* Shadow covers */
  linear-gradient(to right, rgba(0,0,0,.16), rgba(255,255,255,0)),
  linear-gradient(to left, rgba(0,0,0,.16), rgba(255,255,255,0));

  background-position: left center, right center, left center, right center;
	background-repeat: no-repeat;
	background-size: 25px 100%, 25px 100%, 20px 100%, 25px 100%;
	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;
}

.imageList::-webkit-scrollbar-track {
  background-color: #eee;
}

.imageList::-webkit-scrollbar {
  height: 5px;
  background-color: #eee;
}

.imageList::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border: 1px solid #ccc;
}

.imageList input {
  display: none;
}

.imageList label {
  opacity: 0.6;
  float: right;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  margin: 8px;
  border: 4px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(.4,.25,.3,1);
}

.imageList label:hover, .imageList label:active { transform: scale(1.02); }

.imageList label:hover { background-color: #fff; }

.imageList label img {
  width: 150px;
}
.imageList label p {
  text-align: center;
  font-weight: 900;
  font-size: 0.9rem !important;
  min-height: auto;
  padding: 8px;
  margin: auto 0
}

/***** CSS Magic to Highlight Stars on Hover *****/

.imageList > input:checked + label {
  opacity: 1;
  border: 4px solid #04d47e;
  box-shadow: 0px 0px 10px 0px #ccc;
  background-color: #fff;
}

.imageList > input:checked + label img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.imageList input:not(:checked) + label:hover {
  opacity: 1;
  border: 4px solid #04d47e;
  box-shadow: 0px 0px 4px 0px #ccc;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .imageList > label:before {
    font-size: 3em;
  }

  .imageList {
    max-width: 100vw;
    border-radius: 0;
  }
  .imageList label img {
    width: 110px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 375px) {
  .imageList > label:before {
    font-size: 3em;
  }
  .imageList {
    max-width: 100vw;
  }
  .imageList label img {
    width: 120px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 414px) {
  .imageList > label:before {
    font-size: 3em;
  }
  .imageList {
    max-width: 100vw;
  }
  .imageList label img {
    width: 130px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .imageList > label:before {
    font-size: 3em;
  }
  .imageList {
    max-width: 100vw;
  }
  .imageList label img {
    width: 140px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .imageList > label:before {
    font-size: 4em;
  }
  .imageList {
    max-width: 100vw;
  }
  .imageList label img {
    width: 130px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .imageList > label:before {
    font-size: 5em;
  }
  .imageList {
    max-width: 80vw;
    border-radius: 8px;
  }
  .imageList label img {
    width: 130px;
  }
  .imageList:before {
    content: '';
  }
  .imageList:after {
    content: '';
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .imageList > label:before {
    font-size: 6em;
  }
  .imageList {
    max-width: 80vw;
    border-radius: 8px;
  }
  .imageList label img {
    width: 170px;
  }
  .imageList:before {
    content: '';
  }
  .imageList:after {
    content: '';
  }
}
